# Backup folders 
auto-save-list
backups

# Games folder
games

# Elpa
elpa

# Auto generated
.DS_Store
recentf
ac-comphist.dat
projectile-bookmarks.eld
network-security.data
url

# Credentials
lisp/calendar.el
org-gcal/
lisp/spotify.el