# Backup folders 
auto-save-list
backups

# Games folder
games

# Installed Packages
elpa

# Auto generated
.DS_Store
recentf
ac-comphist.dat
projectile-bookmarks.eld

# Calendar credentials
lisp/calendar.el
org-gcal/