snippet lnk "create a link to a file"
[$1]($2) $0
endsnippet

snippet img "create a link to an image"
![$1]($2) $0
endsnippet

snippet code "create a code block"
\`\`\`$1
$0
\`\`\`
endsnippet

snippet todo "create a checkbox entry"
- [ ] $0
endsnippet
